package components

templ Brand() {
	<a class="flex flex-row justify-center items-center">
		@Logo()
		<h1 class="text-slate-500 text-2xl font-semibold">OOK<span class="text-orange-500">NEST</span></h1>
	</a>
}
