@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
    background-color: blueviolet;
    background-color: brown;
    color: azure;
    font-size: 2rem;
    font-family: 'Roboto' sans-serif;
} */