package layout

templ Base() {
    <html>
        <head>
            <title>BOOKNEST</title>
        </head>
        <body>
            this is from the base layout
            { children... }
        </body>
    </html>
}